<div class="col-sm-12 settingsBg container">
    <div class="table-bordered pad whiteBg">
        <div class="pad">
            <h1>Spread Sheet Editor</h1>
            <h2>Sheet Details</h2>
            <div class="row pad">
                <div ng-class="model.rightCol">
                    <div class="pad">
                        <div class="pad">
                            <ul class="noBullets">
                                <li class="inline pad">
                                    <h4>Visible:</h4>
                                    <input class="check-me" type="checkbox" id="visible" ng-checked=model.vis>
                                </li>
                                <li class="inline pad">
                                    <h4>Read Only:</h4>
                                    <input class="check-me" type="checkbox" id="editable" ng-checked=!model.edit>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <br/><br/>
                        <div class="pad">
                            <h4>Style Editor</h4>
                            <select ng-model="model.styleEditor" class="form-control">
                                <option value="">--None--</option>
                                <option value="h1">Heading 1</option>
                                <option value="h2">Heading 2</option>
                                <option value="h3">Heading 3</option>
                                <option value="label">Label</option>
                                <option value="p">Text Area</option>
                            </select>
                            </br>
                        </div>
                    </div>
                    <div class="pad">
                        <div class="pad">
                            <h4>Function Editor</h4>
                            <select ng-model="model.editor" class="form-control">
                                <option value="">--None--</option>
                                <option>IF</option>
                                <option>SUM</option>
                                <option>AVERAGE</option>
                                <option>MAX</option>
                                <option>MIN</option>
                                <option>DATE</option>
                                <option>LENGTH</option>
                                <option>REPLACE</option>
                            </select>
                            <div>
                                <div ng-if="model.editor=='LENGTH'" class="pad">
                                    <div class="form-inline">
                                        <div class="col-sm-10">
                                            <label><h5>String Length of </h5></label>
                                            <select class="form-control" id="length"
                                                    ng-options="+cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="model.editor=='REPLACE'" class="pad">
                                    <h5>String Replace</h5>
                                    <div class="form-inline">
                                        <label for="value1" class="control-label">In Cell </label>
                                            <select class="form-control" id="value1"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        <label for="value2" class="control-label">Replace</label>
                                            <select class="form-control" id="value2"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                                            </select>
                                        <label for="value3" class="control-label">By</label>
                                            <select class="form-control" id="value3"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell3">
                                            </select>
                                    </div>
                                </div>
                                <div ng-if="model.editor=='DATE'" class="pad">
                                    <h5>Date Difference</h5>
                                    <div class="form-inline">
                                        <label for="date" class="control-label">between</label>
                                        <label for="value1" class="control-label">Cell 1</label>
                                            <select class="form-control" id="value1"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        <label for="value1" class="control-label">Cell 2</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                                            </select>

                                    </div>
                                </div>
                                <div ng-if="model.editor=='MIN'" class="pad">
                                    <h5>Minimum Value </h5>
                                    <div class="form-inline">
                                        <label for="min" class="control-label">amongst </label>
                                        <label for="value1" class="control-label">Cell 1</label>
                                            <select class="form-control" id="value1"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        <label for="value1" class="control-label">Cell 2</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                                            </select>
                                    </div>
                                </div>
                                <div ng-if="model.editor=='MAX'" class="pad">
                                    <h5>Maximum Value</h5>
                                    <div class="form-inline">
                                        <label for="max" class="control-label">amongst </label>
                                        <label for="value1" class="control-label">Cell 1</label>
                                            <select class="form-control" id="value1"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        <label for="value1" class="control-label">Cell 2</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                                            </select>
                                    </div>
                                </div>
                                <div ng-if="model.editor=='AVERAGE'" class="pad">
                                    <h5>Average </h5>
                                    <div class="form-inline">
                                        <label for="average" class="control-label">of </label>
                                        <label for="value1" class="control-label">Value 1</label>
                                            <select class="form-control" id="value1"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        <label for="value1" class="control-label">Value2</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                                            </select>
                                    </div>
                                </div>
                                <div ng-if="model.editor=='SUM'" class="pad">
                                    <h5>Sum</h5>
                                    <div class="form-inline">
                                        <label for="sum" class="control-label">of </label>
                                        <label for="value1" class="control-label">Value 1</label>
                                            <select class="form-control" id="value1"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        <label for="value1" class="control-label">Value2</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                                            </select>
                                    </div>
                                </div>
                                <div ng-if="model.editor=='IF'" class="pad">
                                    <h5>If</h5>
                                    <div class="form-inline">
                                        <label for="value1" class=" control-label">Cell 1</label>
                                            <select class="form-control" id="value1"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                                            </select>
                                        <label for="value1" class=" control-label">Is</label>
                                            <select class="form-inline"
                                                    ng-model="model.ifoperation">
                                                <option ng-value="EQ">Equal</option>
                                                <option ng-value="NEQ">Not equal</option>
                                                <option ng-value="GT">Greater</option>
                                                <option ng-value="GTE">Greater or equal</option>
                                                <option ng-value="LT">Less </option>
                                                <option ng-value="LTE">Less or equal</option>
                                            </select>
                                        <label for="value1" class=" control-label">Than</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                                            </select>
                                        <label for="value1" class="control-label">Then</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].thenCell">
                                            </select>
                                        <label for="value1" class="control-label">Else</label>
                                            <select class="form-control"
                                                    ng-options="+ cell.literal for cell in model.sheet.cells track by cell._id"
                                                    ng-model="model.sheet.cells[model.functionCellIndex].elseCell">
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="endButtons">
                <button ng-click="model.updateCellForSheet(model.sheet._id,model.sheet.cells[model.functionCellIndex].inputCell1,model.sheet.cells[model.functionCellIndex].inputCell2,model.sheet.cells[model.functionCellIndex].inputCell3,model.editor,model.styleEditor, model.ifoperation,model.sheet.cells[model.functionCellIndex].thenCell,model.sheet.cells[model.functionCellIndex].elseCell)" class="button btn btn-block btn-success top">Done</button>
                <button ng-click="model.cancelCellForSheet(model.sheet._id)" class="button btn btn-block btn btn-danger top">Cancel</button>
            </div>
        </div>
    </div>
</div>