.top {
    margin-top: 20px !important;
}

.gitImg {
    width: 50px;
    height: 50px;
}

.sheet-tiles {
    border: hidden;
    margin: 5px;
    word-wrap: break-word;
    text-align: center;
}

.list-group-item {
    margin: 10px;
    word-wrap: break-word;
    text-align: center;
    max-width: 150px;
    opacity:0.95;
    background-color: #d5d5d5;
}

.noBorder {
    border:hidden;
}

.noBullets {
    list-style-type: none;
    padding-left:0px;
    color:#525252;
}

.insideEditor {
    padding-left:10px;
    color:#525252;
}

.inline{
    /*display:inline;*/
    float:left;
}

.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    padding: 10px;
    overflow: hidden;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    display: none;
}

.switch-field label {
    float: left;
}

.switch-field label {

    background-color: #dfdfdf;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    padding: 6px 10px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.switch-field input:checked + label {
    background-color: #609aff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.settingsBg {
    background-image: url('../img/bolt-1185105_1280.jpg');
    margin-bottom:10px;
    color:white;
    padding-bottom:10px;
}

.whiteBg {
    background-color: #FFFFFF;
    opacity:0.9;
    width:80%;
    display:block;
    margin-right:auto;
    margin-left: auto;
    border-radius: 25px;
    color:#555;
}

.doBorder {
    margin:15px;
    padding: 0px;
}

.settingInput {
    padding:40px;
    width:50%;
    display:block;
    color:#555;
    background-color:#FFFFFF;
    border:1px solid #9c9ca4;
    height:30px;
}

.editorHeader {
    background-color: #525252;
    color:#FFFFFF;
    margin: 0px;
    padding:10px;
    border:solid thin;
    -webkit-border-radius: px;
    -moz-border-radius: 12.5px;
    border-radius: 12.5px;;
}

.endButtons {
    text-align:center;
    width:20%;
    margin-left:auto;
    margin-right:auto;

}

.buttons {
    width: 50px;
    height: 50px;
    text-align: center;
    color:#FFFFFF;
    padding: 0 0;
    border-radius: 25px;
    border: solid thin;
    border-color: #d2d2d2;
    font-size: x-large;
    background-color: #525252;
}

.sheetBg {
    background-image: url('../img/ipad-605420_1920.jpg');
}

.listDescr {
    margin-top:10px;
    opacity:0.9;
}

.detailsBg {
    background-image: url('../img/workstation-405768_1920.jpg');
}

.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

.header {
    width:100%;
    text-align: center;
    border: solid thin #5e5e5e;
    background-color: #d2d2d2;

}

.shareButtons {
    list-style-type: none;
    float: right;
}

.sheet-preview-name {
    color: #FFFFFF;
}

.display-function-options {
    padding: 10px;
    margin: 10px;
    border: solid thin #5e5e5e;
    /*background-color: #808080;*/
    color: #5e5e5e;
}

.check-me {
    border:solid thick;
    font-size: xx-large;

}

.noPad {
    padding:0px;
}

.padLeft {
    padding-left: 15px;
    padding-right: 0px;
}

.align-center {
    text-align: center;
}

.table-style {
    background-color: #f6f6f6;
    border: solid thin #8cacd0;

}
