<div class="container-fluid">
    <div class ="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Fields</h1>
            <ul class="nav nav-tabs">
                <li >
                    <a href="#/forms">Forms</a>
                </li>
                <li class="active">
                    <a href ="#">Fields</a>
                </li>
            </ul>
            <table class="table table-striped table-bordered table-responsive">
                <tr ng-repeat="field in model.fields">
                    <ng-switch on="field.field" ng-model="model.field.field">
                        <div
                    </ng-switch>
                </tr>

            </table>
        </div>
    </div>
</div>