



<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 main">
            <h1>Sheets</h1>
            <table class="table table-responsive" >
                <tbody>
                <tr>
                    <td>
                        <input ng-model="sheet.title" type="text" class="form-control"
                               id="title" placeholder="name">
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-plus" ng-click="addSheet(sheet)"></span>
                    </td>
                </tr>
                <tr ng-repeat ="x in sheets">
                    <td><a href="#/sheetDetails">{{x.title}}</a></td>
                    <td>
                        <span class="glyphicon glyphicon-remove" ng-click="deleteSheet($index)"></span>
                        <span class="glyphicon glyphicon-share" onclick="window.open('#/sheetPreview')"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('tbody').sortable();
</script>
