
<div class="container-fluid detailsBg">
    <div class="row padding10">
            <div class="jumbotron listDescr">
            <h2> Sheet: {{model.sheet.name}}
                <a href="#/sheet/{{model.sheet._id}}/preview"class="btn btn-info">
                    <span class="glyphicon glyphicon-share"> </span>
                </a>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    <div class="row noBorder padding10">
        <div ng-class="model.leftCol" ng-if="model.showSheetCell">
            <div class="col-xs-12 pad">
                <div class="col-xs-9">
                        <input ng-model="model.cell.literal"
                               class="form-control"/>
                </div>
                <div class="col-xs-3">
                        <button ng-click="model.addCell(model.sheet._id, model.cell)" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                        </button>
                        <button ng-click="model.functionCell($index)"
                                class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                        </button>
                    </div>
            </div>
            <div>
                <ul ui-sortable class="noBullets" ng-model="model.sheet.cells" >
                    <li class="col-xs-12 pad ui-state-default " ng-repeat="cell in model.sheet.cells" ng-class="{'active': $index==model.functionCellIndex}">
                        <div class="col-xs-9" ng-if="!cell.arithmetic && !cell.ifObj">
                        <span ng-if="cell.cellStyle == 'p'">
                            <textarea ng-model="cell.literal"
                                      ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                      class="form-control"></textarea>
                        </span>
                        <span ng-if="cell.cellStyle == 'label'">
                        <input ng-model="cell.literal"
                               id={{cell.cellStyle}}
                               ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                               class="form-control"/>
                        </span>
                        <span ng-if="cell.cellStyle == 'h1'">
                            <input
                                    ng-model="cell.literal"
                                    id={{cell.cellStyle}}
                                    ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                    class="form-control"/>
                        </span>
                        <span ng-show="cell.cellStyle == 'h2'">
                            <input ng-model="cell.literal"
                                   id={{cell.cellStyle}}
                                   ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                   class="form-control"/>
                        </span>
                        <span ng-show="cell.cellStyle == 'h3'">
                            <input ng-model="cell.literal"
                                   id={{cell.cellStyle}}
                                   ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                   class="form-control"/>
                        </span>
                        <span ng-show="!cell.cellStyle">
                            <input ng-model="cell.literal"
                                   ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                   class="form-control"/>
                        </span>
                        </div>
                        <div class="col-xs-9" ng-if="cell.arithmetic || cell.ifObj">
                            <span ng-if="cell.cellStyle == 'p'">
                                <textarea ng-model="cell.literal"
                                          ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                          ng-readonly="true"
                                          class="form-control"></textarea>
                            </span>
                            <span ng-if="cell.cellStyle == 'label'">
                                <input ng-model="cell.literal"
                                       id={{cell.cellStyle}}
                                       ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                       ng-readonly="true"
                                       class="form-control"/>
                            </span>
                            <span ng-if="cell.cellStyle == 'h1'">
                                <input
                                        ng-model="cell.literal"
                                        id={{cell.cellStyle}}
                                        ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                        ng-readonly="true"
                                        class="form-control"/>
                            </span>
                            <span ng-show="cell.cellStyle == 'h2'">
                                <input ng-model="cell.literal"
                                       id={{cell.cellStyle}}
                                       ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                       ng-readonly="true"
                                       class="form-control"/>
                            </span>
                            <span ng-show="cell.cellStyle == 'h3'">
                                <input ng-model="cell.literal"
                                       id={{cell.cellStyle}}
                                       ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                       ng-readonly="true"
                                       class="form-control"/>
                            </span>
                            <span ng-show="!cell.cellStyle">
                                <input ng-model="cell.literal"
                                       ng-change="model.updateCell(model.sheet._id, $index, cell) && updateReferences(model.sheet._id, $index, cell)"
                                       ng-readonly="true"
                                       class="form-control"/>
                            </span>
                        </div>
                        <div class="col-xs-3">
                            <span ng-show="true" class="input-group-btn">
                                <button ng-click="model.removeCell(model.sheet._id, $index)"
                                class="btn btn-danger btn-group">
                            <span class="glyphicon glyphicon-remove">
                            </span>
                        </button>
                                <a href="#/sheet/{{model.sheet._id}}/cell/{{model.sheet.cells[$index]._id}}"class="btn btn-warning btn-group">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                          </a>
                                <button class="btn btn-default btn-group">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                            <!--<button ng-click="model.functionCellUp($index,model.sheet._id)" class="btn btn-default">-->
                            <!--<span class="glyphicon glyphicon-arrow-up"></span>-->
                            <!--</button>-->

                            <!--<button ng-click="model.functionCellDown($index,model.sheet._id)" class="btn btn-default">-->
                            <!--<span class="glyphicon glyphicon-arrow-down"></span>-->
                            <!--</button>-->
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>