<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 main">
            <h1>Web Page Components</h1>
            <table class="table table-responsive" >
                <tbody>
                <tr>
                    <td>
                        <input ng-model="model.field.label" type="text" class="form-control"
                               id="label" placeholder="name">
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-plus" ng-click="model.addField(model.field)"></span>
                        <span class="glyphicon glyphicon-ok" ng-click ="model.updateField(model.field)"></span>

                    </td>
                </tr>
                <tr ng-repeat ="field in model.fields">
                    <td> <a href="#/field/{{field._id}}/settings">{{field.label}}</a></td>
                    <td>
                        <!--<span class="glyphicon glyphicon-pencil" ng-click="selectSheetField($index)"></span>-->
                        <span class="glyphicon glyphicon-pencil" ng-click="model.selectField($index)"></span>
                        <span class="glyphicon glyphicon-remove" ng-click="model.deleteField(field)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
