<div class="col-sm-12 settingsBg container">
<h2>Sheet Settings</h2>
<div class="row whiteBg">
    <div class="doBorder">
        <h3 class="editorHeader">Style Editor</h3>
        <h4 class="insideEditor">Appearance</h4>
        <ul class="noBullets">
            <li class="switch-field">
                <div class="switch-title">Read Only</div>
                <input type="radio" id="read_left" name="readonly" value="yes" checked/>
                <label for="read_left">Yes</label>
                <input type="radio" id="read_right" name="readonly" value="maybe" />
                <label for="read_right">No</label>
            </li>
            <li class="switch-field">
                <div class="switch-title">Visible</div>
                <input type="radio" id="vis_left" name="visible" value="yes" checked/>
                <label for="vis_left">Yes</label>
                <input type="radio" id="vis_right" name="visible" value="maybe" />
                <label for="vis_right">No</label>
            </li>
            <li class="switch-field">
                <div class="switch-title">Alignment</div>
                <input type="radio" id="align_left" name="align" value="yes" checked/>
                <label for="align_left">&nbsp;Left</label>
                <input type="radio" id="align_center" name="align" value="maybe" />
                <label for="align_center">&nbsp;Center</label>
                <input type="radio" id="align_right" name="align" value="no" />
                <label for="align_right">&nbsp;Right</label>
            </li>
            <li>
                <h4 class="insideEditor">Type</h4>
                <select ng-model="model.styleEditor" class="settingInput">
                    <option value="">--None--</option>
                    <option value="h1">Heading 1</option>
                    <option value="h2">Heading 2</option>
                    <option value="h3">Heading 3</option>
                    <option value="label">Label</option>
                    <option value="p">Text Area</option>
                </select>
            </li>
        </ul>
    </div>
    <div class="container-fluid doBorder">
        <h3 class="editorHeader">Function Editor</h3>
        <br>

        <ul class="noBullets">
            <label><h4 class="insideEditor">Function</h4></label>
            <li>
                <select ng-model="model.editor" class="settingInput">
                    <option value="">--None--</option>
                    <option>IF</option>
                    <option>SUM</option>
                    <option>AVERAGE</option>
                    <option>MAX</option>
                    <option>MIN</option>
                    <option>DATE</option>
                    <option>LENGTH</option>
                    <option>REPLACE</option>
                </select>

                <div ng-if="model.editor=='LENGTH'">
                    <h5>String Length Editor</h5>
                    <div class="form-group">
                        <label for="length" class="col-sm-6 control-label">Length</label>
                        <div class="col-sm-10">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="length"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-if="model.editor=='REPLACE'">
                    <h5>String Replace Editor</h5>
                    <div class="form-group">
                        <label for="replace" class="col-sm-6 control-label">Replace</label>
                        <div class="col-sm-10">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Replace</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Replace By</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell3">
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="model.editor=='DATE'">
                    <h5>Date Editor</h5>
                    <div class="form-group">
                        <label for="date" class="col-sm-6 control-label">Date</label>
                        <div class="col-sm-10">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value2</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="model.editor=='MIN'">
                    <h5>Min Editor</h5>
                    <div class="form-group">
                        <label for="min" class="col-sm-6 control-label">Min</label>
                        <div class="col-sm-10">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value2</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                            </select>
                        </div>

                    </div>
                </div>

                <div ng-if="model.editor=='MAX'">
                    <h5>Max Editor</h5>
                    <div class="form-group">
                        <label for="max" class="col-sm-6 control-label">Max</label>
                        <div class="col-sm-10">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value2</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="model.editor=='AVERAGE'">
                    <h5>Average Editor</h5>
                    <div class="form-group">
                        <label for="average" class="col-sm-6 control-label">Average</label>
                        <div class="col-sm-10">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value2</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                            </select>
                            <br>
                        </div>
                    </div>

                </div>

                <div ng-if="model.editor=='SUM'">
                    <h5>Sum Editor</h5>
                    <div class="form-group">
                        <label for="sum" class="col-sm-6 control-label">Sum</label>
                        <div class="col-sm-10">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value2</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="model.editor=='IF'">
                    <h5>If Editor</h5>
                    <div class="form-group">
                        <label for="if" class="col-sm-6 control-label">If</label>
                        <div class="col-sm-10">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Value 1</label>
                        <div class="col-sm-10">
                            <select class="settingInput" id="value1"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell1">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Is</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-model="model.ifoperation">
                                <option ng-value="EQ">Equal</option>
                                <option ng-value="NEQ">Not equal</option>
                                <option ng-value="GT">Greater</option>
                                <option ng-value="GTE">Greater or equal</option>
                                <option ng-value="LT">Less than</option>
                                <option ng-value="LTE">Less than or equal</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Than</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].inputCell2">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Then</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].thenCell">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="value1" class="col-sm-6 control-label">Else</label>
                        <div class="col-sm-10">
                            <select class="settingInput"
                                    ng-options="cell as model.functionGetIndex(cell) +' - '+ cell.literal for cell in model.sheet.cells track by cell._id"
                                    ng-model="model.sheet.cells[model.functionCellIndex].elseCell">
                            </select>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="endButtons">
        <!--<div>-->
            <button class="glyphicon glyphicon-ok buttons"
                    ng-click="model.functionCellDone(model.sheet._id,model.sheet.cells[model.functionCellIndex].inputCell1,model.sheet.cells[model.functionCellIndex].inputCell2,model.sheet.cells[model.functionCellIndex].inputCell3,model.editor,model.styleEditor, model.ifoperation,model.sheet.cells[model.functionCellIndex].thenCell,model.sheet.cells[model.functionCellIndex].elseCell)">
            </button>
            <button class="glyphicon glyphicon-remove buttons"
                    ng-click="model.functionCellCancel(model.sheet._id)">

            </button>
            <button class="glyphicon glyphicon-refresh buttons"></button>
        <!--</div>-->
        <br><br>
    </div>
   </div>
</div>