/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    border: 2px solid rgba(43, 43, 43, 0.67);
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    background-color: #0cad69;
    border: double;
    border-color: #006699;
}

.navbar-brand {

    font-size: xx-large;
    color: white;
}

.navbar-toggle
{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:transparent;
    background-image:none;
    border-radius:4px;
    border:1px solid #444;
}

.icon-bar
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #444;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.navbar-nav > a {
    color: white;
}

.navbar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;

}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.btn-lg {
    border: none;
    padding: 0;
    background: none;
    font-size: x-large;


}

.control-label {
    padding-top: 10px;
}

.table-bordered {
    border: solid 2px lightgrey
}

.row {

    padding: 0px;
    margin: 0px;
}

.col-md-10 .col-md-offset-1 .ng-scope {
    padding: 0px;
}

.LOS {
    list-style-type: none;
}

.inputVal {
    margin-bottom: 0.5em;
}

.formsList {
    font-size: x-large;
}

.floating-box {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 30px;
    border: 3px solid #ff4251;
    text-align: center;

}

.floating-box-text {
    font-size: large;
    font-family: 'Helvetica Neue', Helvetica, Arial, cursive;

}

.a .non-highlighted{
    color: black;
}

.container-fluid {
    padding: 0px;

}
