<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="main">
            <div class="col-md-10">
            <input type="text" ng-model="model.form.title" placeholder="Name" id="title" class="form-control inputVal">
            </div>
            <div class="col-md-2">
            <span class="glyphicon glyphicon-plus" ng-click="model.addForm(model.form)"></span>
            <span  class="glyphicon glyphicon-ok" ng-click="model.updateForm(model.form)"></span>
            </div>
            </div>
        </div>
    <div class="row">
        <div class="main">
            <!--<div class="col-md-2 floating-box" ng-repeat="form in model.forms">-->
                <!--<a href="#/form/{{form._id}}/fields" class="floating-box-text">{{form.title}}</a>-->
                <!--<br>-->
                <!--<span  ng-click="model.deleteForm(form)" class="glyphicon glyphicon-remove"></span>-->
                <!--<span ng-click="model.selectForm($index)" class="glyphicon glyphicon-pencil"></span>-->
                <!--<a class="non-highlighted" href="#/form/{{form._id}}/formPreview"><span class="glyphicon glyphicon-share"></span></a>-->
            <!--</div>-->

            <ul class ="rig columns-4">
                <li ng-repeat="form in model.forms">
                    <img src="../../../../project/client/css/doc.png">
                    <p>
                        <h3><a href="#/form/{{form._id}}/fields">{{form.title}}</a></h3>
                        <span  ng-click="model.deleteForm(form)" class="glyphicon glyphicon-remove"></span>
                        <span ng-click="model.selectForm($index)" class="glyphicon glyphicon-pencil"></span>
                        <a class="non-highlighted" href="#/form/{{form._id}}/formPreview"><span class="glyphicon glyphicon-share"></span></a>
                    </p>

                </li>
            </ul>
        </div>
    </div>
</div>
