
<div class="container-fluid col-md-10 col-md-offset-1">
    <div class="main transPic ">
        <h1>Welcome!</h1>
    <p>
    This is a WebPage Maker, which can be used to design your favourite websites in minutes.Just build a spreadhseet, add components and you are ready to go! A website to share with friends and family for every occasion.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
    </div>
