<div class="container-fluid sheetBg">
    <div class="row pad">
            <div class="jumbotron listDescr">
                <ul class="noBullets">
                    <li class="inline">
                        <a href="#/home" class="btn btn-info">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li>
                        <h2>&emsp;Welcome to your Sheet List</h2>
                    </li>
                </ul>
                <p> Below you can see a list of Sheets you have already created. Add fields to your sheet, edit their functions and start sharing with your friends.
                &nbsp; Dont see any sheet yet? Type your desired sheet name and get editing!</p>
            </div>
        </div>
    <div class="row pad">
            <div class="input-group">
                <input ng-model="model.sheet.name" class="form-control inputForm" id="name" placeholder="Add a New Sheet" type="text" />
                <span class="input-group-btn"><button class="btn btn-default" ng-click="model.createSheet(model.sheet)">+</button></span>
            </div>
    </div>
    <div class="row pad">
            <ul class="list-inline">
                <li class="list-group-item col-md-2" ng-repeat="sheet in model.sheets">
                    <a href="#/sheet/{{sheet._id}}"><img src="../../../project/img/doc.png" alt="Sheet" class="img-thumbnail"><br>
                        {{sheet.name}}
                    </a>
                    <br><br>
                    <span ng-click="model.deleteSheet(sheet._id)" class="glyphicon glyphicon-remove"></span>
                    <!--<span ng-click="model.selectForm($index)" class="glyphicon glyphicon-pencil"></span>-->
                    <a class="non-highlighted" href="#/sheet/{{sheet._id}}/preview"><span class="glyphicon glyphicon-share"></span></a>
                </li>
            </ul>
        </div>
    <div class="row pad">
        <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

